html,
body {
  margin: 0;
  width: 100%;
  height: 100%; 
}

h1,
h2 {
  text-align: center;
}

.dsgvo {
  font-size: small;
  text-align: left;
  color: gray;
  text-decoration: none;
}
.dsgvo a {
  color: gray;
  text-decoration: none;
  padding-right: 17px;
  background: url('../assets/external-link.png') no-repeat center right;
}

.content {
  text-align: center;
}
.content a {
  padding-right: 17px;
  background: url('../assets/external-link.png') no-repeat center right;
}